@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-principal;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}