$color-naranja: #fe4f2d;
$color-verde: #015551;
$color-cyan: #57b4b4;
$color-negro: #000;
$color-blanco: #fff;

$accordion-bg: #fff;
$accordion-border: #fff;

$font-principal: "Inter", sans-serif;
$font-secundaria: "Roboto", sans-serif;

$spacing-unit: 1rem;