.container-map {
  display: flex;
  justify-content: center;

  img {
    width: 90%;
  }
}

.instrumentos,
.container-team {
  display: flex;
  justify-content: center;
  gap: 3.125rem;
  margin-bottom: 3.125rem;

  img {
    height: 200px;
  }
}

.container-alliance {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 3.125rem;

  img {
    height: 4rem;
  }
}

.abordaje img {
  width: 90%;
}

.container-recursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 80rem;
  margin: 0 auto;

  article {
    background-color: $color-blanco;
    padding: 1.25rem;
    border: 1px solid $color-negro;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .article-header {
      display: flex;
      justify-content: space-between;

      .type,
      .date {
        font-family: $font-principal;
        font-size: 1rem;
      }

      .date {
        font-weight: 700;
      }
    }

    h3 {
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    .description {
      font-weight: 400;
    }

    .author {
      font-size: 0.75rem;
      font-weight: 500;
    }

    .article-footer {
      display: flex;
      justify-content: space-between;
    }
  }

  .block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}