header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $color-naranja;
  padding: 1rem 2rem;
  position: relative;

  .brand {
    display: flex;
    align-items: center;

    &-link {
      display: flex;
      text-decoration: none;
      align-items: center;
    }

    &-img {
      height: 3rem;
    }

    &-text {
      font-family: $font-principal;
      color: $color-negro;
      font-size: 2rem;
      font-weight: 300;
      padding-left: 0.3125rem;
    }
  }

  .navbar {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    flex-grow: 1;
    justify-content: center;

    a {
      color: $color-negro;
      font-family: $font-principal;
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        color: $color-blanco;
      }
    }
  }

  .social {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      height: 2rem;
    }
  }

  .header-separator {
    width: 90%;
    border: none;
    border-top: 2px solid $color-negro;
    margin: 1rem auto;
  }

  .menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: $color-negro;
  }
}