.bloque-index,
.bloque-instrumentos,
.bloque-negro,
.bloque-abordaje,
.bloque-blanco,
.bloque-verde,
.bloque-naranja,
.bloque-cyan {
  padding: 3.125rem 6.25rem;
  min-height: 80vh;

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
  }

  h4 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
  }

  p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.875rem;
  }

  li {
    font-size: 1.2rem;
    font-weight: 400;
    list-style: none;
    padding: 1.25rem 3.125rem;
    background-image: url(../assets/icon/eliminar.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    filter: brightness(0) invert(1);
  }
  iframe {
    padding: 0rem;
  }
}

.bloque-index {
  background-image: url('../assets/img/fondo (6).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: $color-negro;
  color: $color-blanco;

  .h1-blanco {
    color: $color-blanco;
  }

  img {
    filter: invert(1);
  }
}

.bloque-instrumentos {
  background-color: $color-negro;
  color: $color-blanco;

  p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .image-instrumentos {
    width: 15rem;
  }
}

.bloque-abordaje {
  
  h2 {
    font-size: 2rem;
  }

  .accordion {
    .accordion-item {
      border: 1px solid $accordion-border;
      background-color: $accordion-bg;

      .accordion-header {
        .accordion-button {
          font-family: $font-principal;
          color: $color-negro;
          background-color: lighten($accordion-bg, 5%);

          &:hover {
            background-color: lighten($accordion-bg, 10%);
          }

          &:not(.collapsed) {
            color: $color-negro;
            background-color: lighten($accordion-bg, 15%);
            box-shadow: none;
          }
        }
      }

      .accordion-body {
        font-family: $font-principal;
        color: $color-negro;
        background-color: $color-blanco;
        font-size: 1.2rem;
      }
    }

  }

  p {
    font-size: 1.2rem;
  }
}

.bloque-negro {
  background-color: $color-negro;
  color: $color-blanco;
}

.bloque-blanco {
  background-color: $color-blanco;
  color: #333;
}

.bloque-verde {
  background-color: $color-verde;
  color: $color-blanco;
}

.bloque-naranja {
  background-color: $color-naranja;
  color: #333;
}

.bloque-cyan {
  background-color: $color-cyan;
  color: $color-negro;
}